body {
  max-width: 420px;
  margin: auto;
  font-family: "Arial", sans-serif;
  padding: 0 20px;
  text-align: justify;
}

h1 {
  text-align: center
}

ul {
  list-style-type: "🍄 ";
}

img {
  display: block;
  width: 100%;
  margin: 16px 0;
}

canvas {
  display: block;
  width: 50%;
  margin: auto;
  image-rendering: optimizeSpeed;
  image-rendering: pixelated;
}
