body {
  max-width: 416px;
  margin: auto;
  font-family: "Georgia", serif;
  padding: 0 16px;
  text-align: justify;
}

h1, h2, h3, a {
  color: #080;
}

h1 {
  font-size: 24px;
}

h2, h3 {
  font-size: 16px;
}

h3 {
  font-weight: normal;
  font-style: italic;
}

p {
  line-height: 24px;
}

img {
  display: block;
}

canvas {
  display: block;
  width: 50%;
  margin: auto;
  image-rendering: optimizeSpeed;
  image-rendering: pixelated;
}

::selection {
  background-color: #080;
  color: #fff;
}
